
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/detailsLayout.cshtml";
}
@model btl.Models.SanPham
<div class="col-lg-6">
    <div class="border rounded">
        <a href="#">
            <img src="../coffee/products/capuchino.jpg" class="img-fluid rounded" alt="Image">
        </a>
    </div>
</div>
<div class="col-lg-6">
    <h4 class="fw-bold mb-3">Capuchino</h4>
    <p class="mb-3">Category: Coffee</p>
    <h5 class="fw-bold mb-3">45.000 VND</h5>
    <div class="d-flex mb-4">
        <i class="fa fa-star text-secondary"></i>
        <i class="fa fa-star text-secondary"></i>
        <i class="fa fa-star text-secondary"></i>
        <i class="fa fa-star text-secondary"></i>
        <i class="fa fa-star"></i>
    </div>
    <p class="mb-4">arabica coffee, sua danh bot</p>
    <div class="input-group quantity mb-5" style="width: 100px;">
        <div class="input-group-btn">
            <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <input type="text" class="form-control form-control-sm text-center border-0" value="1">
        <div class="input-group-btn">
            <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <a href="/Order/AddToOrder/?maSp=CF2" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
</div>
<div class="col-lg-12">
    <nav>
        <div class="nav nav-tabs mb-3">
            <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                    id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                    aria-controls="nav-about" aria-selected="true">
                Description
            </button>
        </div>
    </nav>
    <div class="tab-content mb-5">
        <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <p>
                abcxyz
            </p>
        </div>
    </div>
</div>

